.header {
  display: flex;
  width: 100%;
  justify-content: center;
  height: 75px;
  align-items: center;
  background-color: rgba(144, 200, 38, 0.8);
  border-bottom: 1px solid black;
  h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
}
